.sidebar {
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
    width: 72px;
}

.sidebar-link {
    height: 76px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 233, 233);
}

.sidebar-link img {
    height: 24px;
margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto,Arial;
    font-size: 10px;
}